.nav-item-padding{
    padding: 15px;
}
.navbar {
    background-color: #FFEBCD;
    position: relative;
}

body{
    background-image: url(../圖片素材/cappuccinos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
