.nav-item-padding{
    padding: 15px;
}
.navbar {
    background-color: #FFEBCD;
    position: relative;
}

.carousel-item>a>img{
    width: 75%;
    height: 380px;
    object-fit: contain;
}
body{
    background-image: url(../圖片素材/cappuccinos.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: rgba(255, 255, 255, 0.1);
}

.index-card{
 height: 100%;

}
h3{
    color: white;
}