.nav-item-padding{
    padding: 15px;
}
.navbar {
    background-color: #FFEBCD;
    position: relative;
}

.carousel-item>a>img{
    width: 75%;
    height: 380px;
    object-fit: contain;
}
body{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2)), url(../圖片素材/cappuccinos.jpg);    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 26px;
}

.index-card{
 height: 100%;

}
h3{
    color: white;
}