.nav-item-padding{
    padding: 15px;
}
.navbar {
    background-color: #FFEBCD;
    position: relative;
}

body{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2)), url(../圖片素材/cappuccinos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 26px;
}
.container-booking .row{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.container-booking .col-4,
.container-booking .col-2,
.container-booking .col-6{
    font-size: large;
    border: 1px black solid;
    padding: 5px;
    border-radius: 10px ;
    margin: 0 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-booking .userInfo{
    flex-direction: column;
}
.container-booking p{
    margin: -7px;
}
