<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.join.mapper.CartMapper">
	<resultMap	id="CartResultMap" type="com.join.pojo.Cart">
			<id column="cartId" property="cartId"/>
			<result column="userId" property="userId"/>
			<result column="totalPrice" property="totalPrice"/>
			<result column="createTime" property="createTime"/>
			
      	<association property="user" resultMap="UserResultMap">
            <id column="userId" property="userId"/>
        </association>
	</resultMap>
	
	<select id="getCartById" resultMap="CartResultMap">
		SELECT * FROM cart WHERE cartId=#{cartId}
	</select>
	
    <update id="updateCart" parameterType="com.join.pojo.Cart">
        <set>
            <if test="userId != null">userId = #{userId},</if>
            <if test="totalPrice != null">totalPrice = #{totalPrice},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
        </set>
        WHERE cartId = #{cartId}
    </update>
	
	<insert id="insertCart" parameterType="com.join.pojo.Cart">
		INSERT INTO cart (userId,totalPrice,createTime)
		VALUES (#{userId},#{totalPrice},#{createTime})
	</insert>

	<delete id="deleteCart" parameterType="int">
		DELETE FROM cart WHERE cartId=#{cartId}
	</delete>

	<select id="getTotalPrice" parameterType="int" resultType="int">
		SELECT totalPrice FROM cart WHERE cartId=#{cartId}
	</select>


</mapper>