<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.join.mapper.CartItemMapper">
	<resultMap id="cartItemIdResultMap" type="com.join.pojo.CartItem">
		<id column="cartItemId" property="cartItemId"/>
		<result column="cartId" property="cartId"/>
		<result column="productId" property="propertyId"/>
		<result column="quantity" property="quantity"/>
		<result column="price" property="price"/>
		<result column="subTotal" property="subTotal"/>
		<result column="ice" property="ice"/>
		<result column="sugar" property="sugar"/>
		
	    <!-- 將 Product 相關信息映射到 CartItem 中 -->
	    <association property="product" javaType="com.join.pojo.Product">
	        <id column="productId" property="productId"/>
	        <result column="shopId" property="shopId"/>
	        <result column="productName" property="productName"/>
	        <result column="price" property="price"/>
	    </association>
	</resultMap>
	
	<select id="getCartItemById" resultMap="cartItemIdResultMap">
		SELECT * FROM cartItem WHERE cartItemId=#{cartItemId}
	</select>
	
	<insert id="insertCartItem" parameterType="com.join.pojo.CartItem">
		INSERT INTO cartItem (cartId,productId,quantity,price,subTotal,ice,sugar)
		VALUES (#{cartId},#{productId},#{quantity},#{price},#{subTotal},#{ice},#{sugar})
	</insert>
	
	<insert id="saveCartItems" parameterType="java.util.List">
    <foreach collection="cartItems" item="item" separator=";">
        INSERT INTO cartItem (cartId,productId,quantity,price,subTotal,ice,sugar)
        VALUES (#{item.cartId},#{item.productId},#{item.quantity},#{item.price},#{item.subTotal},#{item.ice},#{item.sugar})
    </foreach>
</insert>
	
	<select id="getCartItemByProductIdAndUserId" parameterType="com.join.pojo.CartItem" resultMap="cartItemIdResultMap">
	    SELECT * FROM cartItem
	    WHERE productId=#{productId}
	    AND cartId IN (SELECT cartId FROM cart WHERE userId=#{userId})
	</select>
		
    <update id="updateCartItem" parameterType="com.join.pojo.CartItem">
        <set>
            <if test="cartId != null">cartId = #{cartId},</if>
            <if test="productId != null">productId = #{productId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="price != null">price = #{price},</if>
            <if test="subTotal != null">subTotal = #{subTotal},</if>
            <if test="ice != null">ice = #{ice},</if>
            <if test="sugar != null">sugar = #{sugar},</if>
        </set>
        WHERE cartItemId = #{cartItemId}
    </update>

    <delete id="deleteCartItem" parameterType="int">
        DELETE FROM cart_item WHERE cartItemId = #{cartItemId}
    </delete>
</mapper>